<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" th:href="@{/css/view-post.css}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/9de78028b3.js" crossorigin="anonymous"></script>


    <title>Netchat</title>
</head>
<body style="background-color: #EEEEEE;">

<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><span style="font-size: 30px;">Netchat</span></a>
        <div class="nav-search">
            <form class="d-flex" th:action="@{/getSearchResults}" method="get">
                <input class="form-control me-2" type="search" name="keywords" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning btn-dark" type="submit">Search</button>
            </form>
        </div>

        <div class="nav-items-buttons">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color: white;font-size: 18px;"  th:text="${user.getFirstName()}" class="nav-link username" th:href="@{/profile/{userId}(userId=${user.getId()})}"></a>
                    </li>
                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="btn btn-primary nav-link position-relative" href="/"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item" style="margin-right:20px;">
                        <button type="button" class="btn btn-primary nav-link position-relative" data-bs-toggle="modal" data-bs-target="#messagesModal">
                            <i class="far fa-envelope"></i>
                            <span th:text="${numberOfMessages}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                  <span class="visually-hidden">unread messages</span>
                </span>
                        </button>
                    </li>
                    <li class="nav-item" style="margin-right:20px;">
                        <button type="button" class="btn btn-primary nav-link position-relative" data-bs-toggle="modal" data-bs-target="#friendRequestsModal">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span th:text="${numOfFriendRequests}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                  <span class="visually-hidden">unread friend requests</span>
                </span>
                        </button>
                    </li>
                    <li class="nav-item" style="margin-right:20px;">
                        <button type="button" class="btn btn-primary nav-link position-relative" data-bs-toggle="modal" data-bs-target="#notificationsModal">
                            <i class="far fa-bell"></i>
                            <span th:text="${numberOfNotifications}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                  <span class="visually-hidden">unread notifications</span>
                </span>
                        </button>
                    </li>

                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="btn btn-primary nav-link position-relative" href="/settings"><i class="fas fa-cog"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn btn-primary " aria-current="page" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>


<div  class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="profile-section">
                <div style="width: 300px;" class="card">
                    <div style="margin-left:5px;margin-top:5px;" class="user_details column">
                        <a href="#"><img style="height:200px;width: 150;" th:src="*{'data:image/jpeg;base64,'+{postedBy.getProfilePic()}}" class="rounded float-start" alt=""></a>
                        <div style="padding-top: 20px;" class="user_details_left_right">
                            <a class="profile-items" style="text-decoration: none;" th:text="|${postedBy.getFirstName()} ${postedBy.getLastName()}|" th:href="@{/profile/{userId}(userId=${postedBy.getId()})}">Tom Cruise</a>
                            <p class="profile-items" th:text="'Post(s): ' + ${numberOfPosts}"></p>
                            <p class="profile-items" th:text="'Likes(s): ' + ${numberOfLikes}"></p>
                            <p class="profile-items" th:text="'Friends(s): ' + ${numberOfFriends}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="post-section">
                <div style="width:710px;" class="card">
                    <div style="margin: 8px 8px;">
                        <div style="width: 700px;margin-top: 5px;" class="" id="accordion">
                            <div style="width:690px;" class="card" >
                                <div class="card-body" id="headingOne">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <a href="">  <img width=35 th:src="*{'data:image/jpeg;base64,'+{postedBy.getProfilePic()}}"> </a>
                                            </div>

                                        <div class="col-sm-11">
                                            <div th:if="${post.getAddedBy() == user.getUsername() or post.getUserTo() == user.getUsername()}">
                                                <!-- Button trigger modal -->
                                                <button style="float: right; color: red;" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    X
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                Are you sure you want to delete this post?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>

                                                                <button type="button" class="btn btn-danger"><a style="text-decoration: none;" th:href="@{/deletePost/{postId}(postId=${post.getId()})}">Delete</a> </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table>
                                                <tr>
                                                    <td>

                                                        <p><a class="font-type" style="text-decoration: none; font-size:13px, color: blue;" th:text="|${postedBy.getFirstName()} ${postedBy.getLastName()}|" th:href="@{/profile/{userId}(userId=${postedBy.getId()})}"></a></p>

                                                    </td>

                                                    <div th:if="${post.getUserTo() != null}">
                                                        <div th:if="${!ListOfUsers.empty}">
                                                            <div th:each="postToUser: ${ListOfUsers}">
                                                                <div th:if="${post.getUserTo() == postToUser.getUsername()}">
                                                                    <td>
                                                                        <div style="margin-left: 5px;">
                                                                            <p>to <a class="font-type" style="text-decoration: none;" th:text="| ${postToUser.getFirstName()} ${postToUser.getLastName()} |" th:href="@{/profile/{userId}(userId=${postToUser.getId()})}"></a></p>
                                                                        </div>
                                                                    </td>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <td >
                                                        <p class="font-type" th:text="${post.getTime()}" style="font-size:13px; margin-left: 3px;"> </p>
                                                    </td>

                                                </tr>
                                            </table>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <p class="font-type" th:text="${post.getBody()}"></p>
                                                        <div th:if="${post.getImg() != null and !post.getImg().empty}">
                                                            <img class="rounded" style="height:200px; width:200px;border-radius: 0;" th:src="*{'data:image/jpeg;base64,'+{post.getImg()}}"  alt="">
                                                        </div>
                                                        <!--                                                                    th:if="${post.getImg() != null}"-->
                                                        <div th:if="${post.getVideoUrl() != null}">
                                                            <iframe width="200" height="200" th:src="${post.getVideoUrl()}"></iframe>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="col-sm-12">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <button th:text="'Comments(' + ${post.getNumberOfComments()} + ')'"  style="text-decoration: none;" class="btn btn-link" data-toggle="collapse" th:data-target="'#collapseCommentSection' + ${post.getId()}" aria-expanded="false" th:aria-controls="'collapseCommentSection' + ${post.getId()}">

                                                        </button>
                                                    <td style="padding-left: 40px;">
                                                        <div th:if="${post.getUserLiked() == true}">
                                                            <a class="font-type" style="text-decoration: none;" th:href="@{/likeInViewPost/{postId}(postId=${post.getId()})}">Unlike</a>
                                                        </div>
                                                        <div th:if="${post.getUserLiked() == false}">
                                                            <a class="font-type" style="text-decoration: none;" th:href="@{/likeInViewPost/{postId}(postId=${post.getId()})}">Like</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:if="${post.getLikes() < 2}">
                                                            <p class="font-type" style="padding-left: 5px;margin-top: 15px;" th:text="${post.getLikes()} +' Like'" > </p>
                                                        </div>
                                                        <div th:if="${post.getLikes() >= 2}">
                                                            <p class="font-type" style="padding-left: 5px;margin-top: 15x;margin-bottom: 0px;" th:text="${post.getLikes()} +' Likes'" > </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="collapse" th:id="'collapseCommentSection' + ${post.getId()}">
                                <div class="card-footer">
                                    <div >
                                        <form th:action="@{/commentInViewPost}" method="post" th:object="${comment}">
                                            <input type="hidden" th:value="${post.getId()}" th:name="idReceived" >
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div style="width:570px;" class="input-group">
                                                            <textarea th:field="*{commentBody}" class="form-control" aria-label="With textarea"></textarea>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button style="margin-left: 20px; " type="submit" class="btn btn-primary">Post</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>

                                    <!-- comment section -->
                                    <div th:if="${!post.getComments().empty}">
                                        <div th:each="comment: ${post.getComments()}">
                                                <div th:if="${!ListOfUsers.empty}">
                                                    <div th:each="commentedUser: ${ListOfUsers}">
                                                        <div th:if="${commentedUser.getUsername() == comment.getCommentedBy()}">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-sm-1">
                                                                        <a href="" > <img width="30" th:src="*{'data:image/jpeg;base64,'+{commentedUser.getProfilePic()}}" > </a>
                                                                    </div>
                                                                    <div class="col-sm-11">
                                                                        <div th:if="${comment.getCommentedBy() == user.getUsername()}">
                                                                            <!-- Button trigger modal -->
                                                                            <button style="float: right; color: red;" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropComment">
                                                                                X
                                                                            </button>

                                                                            <!-- Modal -->
                                                                            <div class="modal fade" id="staticBackdropComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body">
                                                                                            Are you sure you want to delete your comment?
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>

                                                                                            <button type="button" class="btn btn-danger"><a style="text-decoration: none;" th:href="@{/deleteCommentInViewPost/{commentId}(commentId=${comment.getId()})}">Delete</a> </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <p><a class="font-type" style="text-decoration: none;font-size: 13px; color: blue;" th:text="|${commentedUser.getFirstName()} ${commentedUser.getLastName()}|" th:href="@{/profile/{userId}(userId=${commentedUser.getId()})}"></a></p>
                                                                                </td>
                                                                                <td>
                                                                                    <p class="font-type" th:text="${comment.getTime()}" style="font-size:13px; margin-left: 3px;"></p>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <p class="font-type" th:text="${comment.getCommentBody()}"></p>
                                                                                </td>
                                                                            </tr>
                                                                        </table>

                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <table>
                                                                            <tr>
                                                                                <td style="padding-left: 40px;">
                                                                                    <div th:if="${comment.getUserLiked() == true}">
                                                                                        <a class="font-type" style="text-decoration: none;" th:href="@{/likeCommentInViewPost/{commentId}(commentId=${comment.getId()})}">Unike</a>
                                                                                    </div>
                                                                                    <div th:if="${comment.getUserLiked() == false}">
                                                                                        <a class="font-type" style="text-decoration: none;" th:href="@{/likeCommentInViewPost/{commentId}(commentId=${comment.getId()})}">Like</a>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div th:if="${comment.getNumOfLikes() < 2}">
                                                                                        <p class="font-type" style="padding-left: 5px;margin-top: 15px;" th:text="${comment.getNumOfLikes()} +' Like'" > </p>
                                                                                    </div>
                                                                                    <div th:if="${comment.getNumOfLikes() >= 2}">
                                                                                        <p class="font-type" style="padding-left: 5px;margin-top: 15x;margin-bottom: 0px;" th:text="${comment.getNumOfLikes()} +' Likes'" > </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div >
    <!--        Navbar links modals-->
    <!-- Friend request Modal -->
    <div style="margin-left: 500px;margin-top: 50px;" class="modal fade" id="friendRequestsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    Friend requests
                    <h6 class="modal-title" id="exampleModalLabel">Friend requests</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body NotificationScrollStyle">
                    <div th:if="${!listOfFriendRequests.empty}">
                        <div th:if="${!ListOfUsers.empty}">
                            <div th:each="friendRequest: ${listOfFriendRequests}">
                                <div th:each="userFrom: ${ListOfUsers}">
                                    <div th:if="${userFrom.getUsername() == friendRequest.getUserFrom()}">
                                        <div class="card">
                                            <div class="card-body">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a href="#"><img width=35 th:src="*{'data:image/jpeg;base64,'+{userFrom.getProfilePic()}}" class="rounded float-start" alt=""></a>
                                                        </td>
                                                        <td style="padding-left: 5px;">
                                                            <p style="font-size: 11px;" th:text="${userFrom.getFirstName()}+' '+${userFrom.getLastName()}+' sent you a friend request'"></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table style="padding-left: 0px;margin-left: 40px;margin-top: 8px;">
                                                    <tr>
                                                        <td>
                                                            <button style="width: 76px;height: 34px;" type="submit" class="btn btn-success" data-bs-dismiss="modal">
                                                                <a style="text-decoration: none;" th:href="@{/acceptFriendRequest/{requestId}(requestId=${friendRequest.getId()})}">Accept</a>
                                                            </button>
                                                        </td>

                                                        <td style="padding-left: 10px;">
                                                            <button style="width: 76px;height: 34px;" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                                <a style="text-decoration: none;" th:href="@{/rejectFriendRequest/{requestId}(requestId=${friendRequest.getId()})}">Reject</a>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Message Modal -->
    <div style="margin-left: 500px;margin-top: 50px;" class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div style="height: 400px;" class="modal-content">
                <div class="modal-header">
                    Messages
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body NotificationScrollStyle">
                    <div >
                        <div th:if="${!allMessages.empty}">
                            <div th:each="message: ${allMessages}" >
                                <div th:if="${message.getOpened() == 'no'}">
                                    <div th:if="${user.getUsername() == message.getUserTo()}">
                                        <div style="height: 82.22222px;margin-bottom: 5px;margin-top: 5px;cursor:pointer" class="card" th:onclick="|window.location.href='/viewMessage/${message.getId()}'|">
                                            <div class="card-body">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div th:if="${!ListOfUsers.empty}">
                                                                <div th:each="userInfo: ${ListOfUsers}">
                                                                    <div th:if="${message.getUserFrom() == userInfo.getUsername()}">
                                                                        <a href="#"><img width=35 th:src="*{'data:image/jpeg;base64,'+{userInfo.getProfilePic()}}" class="rounded float-start" alt=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="padding-left: 5px;">
                                                            <p style="font-size: 11px;" th:text="${message.getTime()}"></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="">
                                                    <p class="font-type" style="font-size: 13px;" th:text="'They said: '+${message.getBody()}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification Modal -->
    <div style="margin-left: 500px;margin-top: 50px;" class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div style="height: 402.22222px;" class="modal-content">
                <div class="modal-header">
                    Notifications
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body NotificationScrollStyle">
                    <div class="NotificationScrollStyle">
                        <div th:if="${!notifications.empty}">
                            <div th:if="${!ListOfUsers.empty}">
                                <div th:each="notification: ${notifications}">
                                    <div th:if="${user.getUsername() == notification.getUserTo()}">
                                        <div th:each="userInfo: ${ListOfUsers}">
                                            <div th:if="${notification.getUserFrom() == userInfo.getUsername()}">
                                                <div th:if="${notification.getOpened() == 'no'}">
                                                    <div style="cursor:pointer;height: 82.22222px;margin-bottom: 2px;" class="card" th:onclick="|window.location.href='/viewPost/${notification.getPostId()}/${notification.getId()}'|">
                                                        <div class="card-body">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <a href="#"><img width=35 th:src="*{'data:image/jpeg;base64,'+{userInfo.getProfilePic()}}" class="rounded float-start" alt=""></a>
                                                                    </td>
                                                                    <td style="padding-left: 5px;">
                                                                        <p style="font-size: 11px;" th:text="${notification.getTime()}"></p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="">
                                                                <p class="font-type" style="font-size: 11px;" th:text="${notification.getMessage()}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<footer class="footer fixed-bottom bg-primary">
    <div class="container">
        <div class="d-flex justify-content-center">
            <p style="font-family: 'Bebas Neue', cursive; font-size: 20px;margin-bottom: 5px;margin-top: 5px; color: white;">
                @Icode by The Object Oriented Gladiator
            </p>
        </div>
    </div>
</footer>


< <!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
</body>
</html>
